ion-content {
  //changed here background image fo register page. In scss we write --background for this.
  --background: url('/assets/icon/7.jpg')no-repeat center center/cover;
  --background-position: center !important; 
  --background-repeat: no-repeat !important; 
  --background-size: cover !important; ; 
}
.tab-header {
  color:black;
  
}
.ion-margin-start{
  
    --border-radius: 120px;
  
}