<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size-sm="12" class="ion-text-center">
      <h1 color="primary">My Profile</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="12" class="ion-text-center">
      <div class="profilepic">
        <img *ngIf="photo" [src]="photo" />
        <!-- <input type="hidden" formControlName="pic"> -->
        <img *ngIf="!photo" src="../../assets/icon/user.png" />
        <ion-button class="addImg" (click)="actionPerform(e)">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
