.top-header{
    background-color: purple;
    margin: 0;
    padding: 10px;
    height: 60px;
}
.header-title{
    margin: 0;
    color: #ffffff;
}
.team_card{
    background-color: #eeeeee;

}
.teamcard_header{
    padding: 0;
}
.teamcard_header img{
    height: 100px;
}
