
    //changed here background image fo register page. In scss we write --background for this.
    ion-content {
        --background: url('/assets/icon/14.jpg')no-repeat center center/cover;
        --background-position: center !important; 
        --background-repeat: no-repeat !important; 
        --background-size: cover !important; ; 
    }


.paragraph {
    color: white;
    font-size: 700;
}